.grid-container {
    position: relative;
}

.hide {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 200px 200px 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    grid-gap: 5px;
}

.hide {
    position: absolute;
    top: 0;
}

.reveal {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 200px 200px 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    grid-gap: 5px;
}

.reveal {
    position: absolute;
    top: 0;
}

.bottom, .reveal {
    grid-area: bottom, top; 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }    
}

img {
    width: 200px;
    height: 200px;
}

img:hover {
    cursor: pointer;
}
